.Weather {
    border: 1px solid #70757a;
    font-family: arial, sans-serif;
    color: rgb(112, 117, 122);
    padding: 16px;
    border-radius: 8px;
}

.Weather form{
    margin-bottom: 20px;
}

.Weather h1 {
    color: black;
    font-size: 48px;
    font-weight: 200;
    line-height: 56px;
    margin: 20px 0 0 0;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    list-style: none;
}

.Weather img {
    height: 80px;
    width: 80px;
    margin-right: 10px;
    margin-top: 30px;
    display: inline-block;
    position: relative;
    top: -16px;
    
 
}

.Weather .temperature { 
    font-weight: 300;
    color: black;
    font-size: 64px;
    display: inline-block;
}

.Weather .unit {
    font-size: 16px;
    font-weight: 300;
    position: relative;
    top: -32px;
    margin-left: 8px;
}